/*
    Organized by:
        (1) Colors
        (2) Text
        (3) Shapes
        (4) Structures
        (5) Modules
*/


/*************** colors ************/
.bg-purp {
    background-color: #9C65BD;
}

/*.bg-green {*/
    /*background-color: #66be69;*/
/*}*/

.fc-purp {
    color: #9C65BD;
}
/* END - colors */



/************* text ***************/
.fs-3rem {
    font-size: 3rem;
}

.fs-2rem {
    font-size: 2rem;
}

.ta-right {
    text-align: right;
}

.m-md {
    margin: 3%;
}
/* END - text */




/*********** structures *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}
/* END - structures */


/************* helper classes ***********/
.display-ib {
    display: inline;
}
.position-abs {
      position: absolute;
  }

.position-rel {
    position: relative;
}

.position-dead-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* END - helper classes */